.areas {
    width: 100%;
    margin-top: 4rem;
    padding: 3rem 2.5rem;
}

@media (min-width:768px) {
    .areas {
        padding-inline: 5rem;
    }
}

.areas__heading {
    width: 100%;
    text-align: center;
    font-size: 2.8rem;
}

.area-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.area-card__img img {
    max-width: 20rem;
    max-height: 20rem;
}

@media(min-width:768px) {
    .area-card__img img {
        min-width: 30rem;
        min-height: 30rem;
    }
}

