.footer {
    width: 100%;
    margin-top: 4rem;
    padding: 3rem 2.5rem;
    background-color: var(--color-fondo-dgr);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (min-width:768px) {
    .footer {
        padding-inline: 8rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.footer-item {
    margin-bottom: 1rem;
}

.footer-item:last-of-type {
    margin-bottom: 0;
}

@media (min-width:768px) {
    .footer-item{
        margin-bottom: 0;
    }
}

.logo {
    width: 100%;
}

.logo__txt {
    font-size: 2.7rem;
    font-weight: 200;
}

.logo__txt > span{
    font-weight: 900;
}