<div class="relative">
    <header class="header">
        <div class="header__img">
            <div class="header__txt">
                <h2 class="header__title">Vive experiencias únicas</h2>
                <p class="header__p">Encuentra tu próximo evento inolvidable</p>
            </div>
        </div>
    </header>

    <section class="section">
        <div class="section__search">
            <div class="field">
                <input type="text" name="search" id="search" placeholder="Buscar...">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
    </section>
</div>