.nombre,
.personal {
    width: 100%;
}

@media (min-width:900px) {

    .nombre,
    .personal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }
}

@media (min-width:800px) {
    .login-form {
        padding-inline: 27rem;
    }
}
