<div class="capa">

    <h2 class="heading">Todos los eventos</h2>
    <div class="events">
        <div class="events__img">
            <img src="no-image-available.webp" alt="imagen del evento">
        </div>

        <div class="events__info flex">
            <p class="events__name">event.namessssssssss</p>
            <p class="events_capacity">Capacidad: 5</p>
            <p class="events__date">event.date</p>
            <p class="events__city">event.city</p>
            <div class="areas">
                <p class="events__area">event.areaInteres</p>
                <p class="events__category">event.category</p>
            </div>
        </div>

        <div class="events__actions flex">
            <!--  -->
            @if (true) {
            <button class="events__published">Publicado</button>
            <button class="events__delete">Borrar</button>
            <button class="events__edit">Editar</button>
            }@else {
            <button class="events__published">Reservar</button>
            }
        </div>
    </div>

</div>