
.hero {
    padding-inline: 2.5rem;
    padding-block: 2.5rem;
    width: 100%;
}

@media (min-width:768px) {
    .hero {
        padding-inline: 5rem;
        padding-block: 5rem;
    }
}

.hero__img {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url('../../../../../public/hero.jpg');
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding-inline: 2rem;
    padding-block: 2rem;
}

@media (min-width:768px) {
    .hero__img {
        display: grid;
        grid-template-columns: 2fr 1.5fr;
        padding-inline: 5rem;
        padding-block: 6rem;
        column-gap: .5rem;
    }
}

.hero__title {
    font-size: 3.5rem;
    padding-bottom: 1rem;
}


.hero__txt {
    width: 100%;
}

.heroForm{
    margin-top: 1.5rem;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

input{
    border: none;
    margin-bottom: 1rem;
    font-size: large;
    padding: .5rem 1rem;
    border-radius: .5rem;
    overflow: hidden;
}

button{
    padding: .5rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: var(--color-btns);
    border: none;
    border-radius: .5rem;
}

input:focus-visible {
    outline: none;
    border-bottom: 1px solid var(--color-btns);
}





