<nav class="nav">
    <div class="logo">
        <h1 [routerLink]="['/']" class="logo__txt">Event<span>Star</span></h1>
    </div>


    <div class="links">
        <a [routerLink]="['/events/all-events']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="links__link">Ver Eventos</a>
        <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="links__link">Conciertos</a>
        <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="links__link">Deportes</a>
        @if( user().role === ROLE ){
            <a [routerLink]="['/events/create']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="links__link">Publicar Evento</a>
        }
    </div>

    <div class="auth">
        @if( user()._id ){
            <a (click)="logout()" class="auth__login">Cerrar Sesión</a>
        } @else {
            <a [routerLink]="['/users/login']" class="auth__login">Iniciar Sesión</a>
        }
        <a [routerLink]="['/users/signup']" class="auth__signup">Crear Cuenta</a>
    </div>
</nav>