<nav class="nav">
    <div class="logo">
        <h1 [routerLink]="['/']" class="logo__txt">Event<span>Star</span></h1>
    </div>


    <div class="links">
        <a [routerLink]="['/']" acttivatedRoute="active" class="links__link">Enlace1</a>
        <a [routerLink]="['/']" acttivatedRoute="active" class="links__link">Enlace1</a>
        <a [routerLink]="['/']" acttivatedRoute="active" class="links__link">Enlace1</a>
        <a [routerLink]="['/']" acttivatedRoute="active" class="links__link">Enlace1</a>
    </div>

    <div class="auth">
        <a [routerLink]="['/']" class="auth__login">Iniciar Sesión</a>
        <a [routerLink]="['/']" class="auth__signup">Crear Cuenta</a>
    </div>
</nav>