.events {
    width: 100%;
    margin-top: 4rem;
    padding: 3rem 2.5rem;
    background-color: var(--color-fondo-dgr);
}

@media (min-width:768px) {
    .events {
        padding-inline: 5rem;
    }
}

.events__heading {
    width: 100%;
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 3rem;
}

.events__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(min-width:768px) {
    .events__cards {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}


.event-card {
    background-color: var(--color-fondo);
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 2rem;
}



.event-card__img {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.event-card__img img {
    width: 100%;
    margin: 0;
}


.event-card__info {
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--color-fondo);
    position: absolute;
    bottom: -8.5rem;
    transition: bottom .3s ease-in-out;
}

.event-card:hover {
    .event-card__info {
        bottom: 0px;
    }
}

@media (min-width:768px) {
    .event-card {
        width: 30rem;
    }
}

.event-card__heading{
    font-size: 2rem;
    color: var(--color-btns);
}

.event-card__date{
    font-weight: 800;
}

.tag-city{
    font-weight: 600;
}

.tag-area{
    background-color: var(--color-fondo-dgr);
    border-radius: 1rem;
    padding: .5rem 1rem;
    display: inline-block;
    color: var(--color-verde);
    font-weight: 700;
}

.tag-capacity {
    background-color: var(--color-fondo-dgr);
    border-radius: 1rem;
    padding: .5rem 1rem;
    display: inline-block;
    color: var(--color-rojo);
    font-weight: 700;
}



.card-btns{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.event-card__btn{
    background-color: var(--color-btns);
    border: none;
    padding: 1rem 2rem;
    grid-column: 2/3;
    border-radius: 1rem;
    color: var(--color-fondo);
    font-size: medium;
    font-weight: 700;
}